<%- include('partials/head') %>
<title><%= title %></title>
    <%- include('partials/navigation') %>
    
    <main class="w-100 d-flex flex-column justify-content-center pt-5 text-center h-100">
        <h1 >Miniproyectos </h1>
        <div class="projects-container my-5">
          <div class="project">
              <div class="project-img" style="background-image: url('/assets/breakout.png')">

              </div>
              <div class="project-tile" >
                  <h3>Juego Breakout</h3>
                 
                  <div>
                      <a class="link mx-2" target="_blank" href="https://github.com/Adriangln11/breakout"><i class="bi bi-github"></i></a>
                      <a class="link mx-2" target="_blank" href="https://adriangln11.github.io/breakout/ "><i class="bi bi-box-arrow-up-right"></i></a>
                   
                  </div>
              </div>
          </div>
          <div class="project">
              <div class="project-img" style="background-image: url('/assets/calc.png')">

              </div>
              <div class="project-tile" >
                  <h3>Calculadora de ingresos</h3>
              
                  <div>
                      <a class="link mx-2" target="_blank" href="https://github.com/Adriangln11/calculadora-ingresos"><i class="bi bi-github"></i></a>
                      <a class="link mx-2" target="_blank" href="https://adriangln11.github.io/calculadora-ingresos/"><i class="bi bi-box-arrow-up-right"></i></a>
                      
                  </div>
              </div>
          </div>
          <div class="project">
              <div class="project-img" style="background-image: url('/assets/traductor.png')">

              </div>
              <div class="project-tile" >
                  <h3>Traductor audio a texto</h3>
      
                  <div>
                      <a class="link mx-2" target="_blank" href="https://github.com/Adriangln11/traductor-audio-texto"><i class="bi bi-github"></i></a>
                      <a class="link mx-2" target="_blank" href="https://adriangln11.github.io/traductor-audio-texto/"><i class="bi bi-box-arrow-up-right"></i></a>
                     
                  </div>
              </div>
          </div>
          <div class="project">
              <div class="project-img" style="background-image: url('/assets/scroll.png')">

              </div>
              <div class="project-tile" >
                  <h3>Scroll Infinito</h3>
      
                  <div>
                      <a class="link mx-2" target="_blank" href="https://github.com/Adriangln11/scroll-infinito"><i class="bi bi-github"></i></a>
                      <a class="link mx-2" target="_blank" href="https://adriangln11.github.io/scroll-infinito/"><i class="bi bi-box-arrow-up-right"></i></a>
                     
                  </div>
              </div>
          </div>
          <div class="project">
              <div class="project-img" style="background-image: url('/assets/cuenta-regresiva.png')">

              </div>
              <div class="project-tile" >
                  <h3>Cuenta Regresiva</h3>
      
                  <div>
                      <a class="link mx-2" target="_blank" href="https://github.com/Adriangln11/cuenta-regresiva"><i class="bi bi-github"></i></a>
                      <a class="link mx-2" target="_blank" href="https://adriangln11.github.io/cuenta-regresiva/"><i class="bi bi-box-arrow-up-right"></i></a>
                     
                  </div>
              </div>
          </div>
      </div>
    </main>
    <%- include('partials/footer') %>

</body>
</html>